.App{
  background-color: $lightBlue;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

h1{
  font-family: $headerFont;
  color: $black;
  font-size: 5rem;
  padding-top: 20px;
  margin-bottom: 0;
  margin-top: 0;
}

h2{
  margin-bottom: 5px;
  margin-top: 5px; 
}

body, button {
  font-family: $bodyFont;
  font-size: 2rem;
  color: $black;
  line-height: 1.5;
}

button {
  padding: 7px;
  background-color: lightgrey;
  border-radius: 5px;
  border: 2px solid transparent;
  }


footer {
  background-color: $lightGreen;
  color: $black;
  text-align: center;
  padding: 5px 0;
  border-top: 2px solid $darkGreen;
  margin-top: 10px;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-gap: 15px;
  justify-items: center;
}

// input styles
input{
  border: 2px solid rgba(0, 0, 0, 0.5);
  width: 50%;
}

input,
button {
  padding: 7px;
  
  &:focus {
    outline: none;
    border: 2px solid $darkGreen;
  }
}

select{
  padding: 7px;
}

fieldset {
  border: none;
}

.wrapper ul li {
  position: relative;
}